@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<table border="1">
    <tr>
        <th>SkillID</th>
        <th>Skill Name</th>
        <th>Description</th>
        <th>Is New</th>
        <th>Is Dirty</th>
        
    </tr>

    @{

        @foreach (var c in ViewBag.ListOfSkill)
        {

            <tr>
                <td> @c.Skillid</td>
                <td> @c.Skillname </td>
                <td> @c.Description </td>
                <td> @c.IsNew </td>
                <td> @c.IsDirty </td>
                
            </tr>

        }


    }
</table>